SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_ANON_KEY=anon_key
SUPABASE_SECRET_KEY=secret_key
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres
CLOVER_APP_ID=your_clover_app_id
CLOVER_SECRET_CODE=your_clover_app_secret
CLOVER_URL=https://apisandbox.dev.clover.com
CLOVER_WEBHOOK_AUTH_CODE=your_clover_webhook_auth_code
